<h1>Edit market symbol link</h1>

<%= render 'new_edit' %>

<p>
	<%= link_to 'Back to listing market symbol links', market_symbol_precisions_path %>
</p>
<p>
	<%= link_to 'Home page', root_path %>
</p>