<h1>Edit market currency pair name</h1>

<%= render 'new_edit' %>

<p>
	<%= link_to 'Back to listing market currency pair names', market_currency_pair_names_path %>
</p>
<p>
	<%= link_to 'Home page', root_path %>
</p>